@use "abstracts" as *;

/*-------------------------------------
Bootstrap
-------------------------------------*/
.container-fluid {
  padding: 0;
}

/*-------------------------------------
General
-------------------------------------*/
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.header-sticky {
  height: $header-height;
}

.container {
  max-width: 1400px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
}

p,
pre,
span,
label,
input {
  font-family: $font-text;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding-top: $header-height;

  .header-sticky {
    flex-shrink: 0;
  }

  .footer {
    margin-top: auto;
  }

  a {
    text-decoration: none;
    color: $blue;

    &:hover {
      color: $cyan;
    }
  }
}
