$main-dark: #143446;
$main: #255a79;
$main-light: #116fa6;
$main-extra-light: #cde4f2;
$second-dark: #345a58;
$second: #508a87;
$second-light: #80c6c2;
$second-extra-light: #bcefe3;
$anthracite-dark: #464b4c;
$anthracite: #798284;
$anthracite-light: #a7b6b9;
$anthracite-extra-light: #d9e5e8;
$anthracite-supra-light: #eef6f8;
$anthracite-ultra-light: #fdfefe;
$yellow: #ffc107;
$orange: #ff9808;
$red: #cc1417;
$cyan: #00b8d8;
$blue: #008cff;
$black: #111111;
$white: #ffffff;
