@use "./colors";

/* Top hero images */
@mixin hero-image-container-fluid {
  margin-bottom: 2rem;
  width: 100vw;
  max-height: 60vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* Fonts */
@mixin fluid-section-title {
  font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (1400 - 320)));
}

@mixin fluid-title-h1 {
  font-size: calc(26px + (33 - 26) * ((100vw - 320px) / (1400 - 320)));
}

@mixin fluid-title-h2 {
  font-size: calc(24px + (30 - 24) * ((100vw - 320px) / (1400 - 320)));
}

@mixin fluid-title-h4 {
  font-size: calc(21px + (24 - 21) * ((100vw - 320px) / (1400 - 320)));
}

/* Box shadow */
@mixin anthracite-shadow {
  box-shadow: 1px 1px 8px #a7b6b9;
}

@mixin blue-shadow {
  box-shadow: 1px 1px 8px rgba(#116fa6, 0.3);
}

/* Form input & texarea */
@mixin input-general-styles {
  position: relative;
  margin-bottom: 25px;
}

@mixin input-styles {
  background: none;
  background-color: white;
  color: $anthracite;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $anthracite-light;
  margin: 10px 0;

  &:focus {
    outline: none;
  }
}

@mixin input-label {
  color: $anthracite-light;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 300ms ease;
}

@mixin shrink-label {
  top: -7px;
  font-size: 12px;
  color: $main-light;
}

/* Links */
@mixin grayed-message {
  opacity: 0.5;
  font-style: italic;
}

/* User dashboard */
@mixin user--name {
  font-size: 1.3rem;
  font-weight: 600;
  color: $main;
}

@mixin gradient-user-photo {
  background: linear-gradient(
    55deg,
    rgba(222, 159, 106, 1) 0%,
    rgba(207, 188, 182, 0.8) 25%,
    rgba(63, 123, 173, 0.8) 50%,
    rgba(0, 74, 114, 0.8) 75%,
    rgba(2, 53, 82, 0.8) 100%
  );
}

@mixin frame-border {
  border: 1px solid $anthracite-light;
  padding: 1.2rem;
  margin-bottom: 1rem;
}

@mixin user-profile-sections {
  @include frame-border;
  max-width: 430px;
  min-width: 290px;
}
