/* Spacing for sections */
/* Spacing for the top title bars */
/* Header height */
/* Top hero images */
/* Fonts */
/* Box shadow */
/* Form input & texarea */
/* Links */
/* User dashboard */
.custom-button--positive--duck {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 25px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Muli", sans-serif;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  background-color: #255a79;
  color: white;
}
.custom-button--positive--duck:hover {
  background-color: white;
  color: #255a79;
  outline: 1px solid #255a79;
  outline-offset: -1px;
}

.cardWp {
  background-color: #a7b6b9;
  margin-bottom: 2rem;
  padding: 0 15px;
  border: none;
}
.cardWp .card-inner {
  background-color: white;
  overflow: hidden;
}
.cardWp .card-inner .card__image {
  width: 100%;
  height: calc(200px + 50 * (100vw - 320px) / 1080);
  background-position: center;
  background-size: cover;
  margin-bottom: 1.5rem;
  box-shadow: 1px 1px 8px #a7b6b9;
  background: linear-gradient(55deg, rgba(144, 215, 235, 0.8) 0%, rgba(161, 218, 227, 0.8) 25%, rgba(179, 222, 216, 0.8) 50%, rgba(190, 213, 193, 0.8) 75%, rgba(185, 201, 174, 0.8) 100%);
}
.cardWp .card-inner .card__body {
  padding: 0 15px;
}
.cardWp .card-inner .card__body .body__title {
  color: #508a87;
}
.cardWp .card-inner .card__body .body__read-more {
  padding-bottom: 1.5rem;
}
.cardWp .card-inner .card__body .body__read-more a {
  text-decoration: none;
  color: #80c6c2;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.cardWp .card-inner .card__body .body__read-more a:hover {
  color: #00b8d8;
}
.cardWp .card-inner .card__body .read-more {
  display: none; /* from WP API excerpt */
}
.cardWp .card-inner .card__footer {
  background-color: #508a87;
  padding: 0 15px;
}
.cardWp .card-inner .card__footer .footer__author-date {
  display: flex;
  justify-content: space-between;
  color: white;
}

.loading-spinner__overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  z-index: 501;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 3px solid #255a79;
  border-color: #255a79 transparent #255a79 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 8px rgba(17, 111, 166, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  padding: 0;
}
.header .icon-angle-down {
  width: 10px;
  position: relative;
  top: -1px;
  margin-left: 1px;
}
.header .navbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar__inner .navbar__logo {
  height: 100%;
  width: 120px;
}
.header .navbar__inner .navbar__hamburgers,
.header .navbar__inner .ham_overlay {
  display: none;
}
.header .navbar__inner .navbar__menu {
  height: 100%;
  position: relative;
  top: 6px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.header .navbar__inner .navbar__menu .menu__separator {
  height: 1px;
  box-shadow: 0 8px 6px -6px black;
}
.header .navbar__inner .navbar__menu .menu__item {
  padding: 17px 15px;
  list-style-type: none;
}
.header .navbar__inner .navbar__menu .menu__item a {
  color: #464b4c;
  background-color: transparent;
  font-family: "Fahkwang", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
}
.header .navbar__inner .navbar__menu .menu__item a:hover {
  color: #008cff;
  transition: all 0.2s ease-out;
}
.header .navbar__inner .navbar__menu .menu__item a .icon-angle-right {
  display: none;
  width: 9px;
}
.header .navbar__inner .navbar__menu .menu__item:last-child {
  padding-right: 0;
}
.header .navbar__inner .navbar__menu .menu__item .dropdownFlag--enter {
  opacity: 0;
}
.header .navbar__inner .navbar__menu .menu__item .dropdownFlag--enter-active {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.header .navbar__inner .navbar__menu .menu__item .dropdownFlag--exit {
  opacity: 1;
}
.header .navbar__inner .navbar__menu .menu__item .dropdownFlag--exit-active {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.header .navbar__inner .navbar__menu .current-user {
  display: flex;
  align-items: center;
}
.header .navbar__inner .navbar__menu .current-user .default-user {
  width: 32px;
  height: 32px;
  margin-right: 6px;
  fill: #798284;
}
.header .navbar__inner .navbar__menu .current-user .user-name {
  color: #798284;
  background-color: transparent;
  font-family: "Fahkwang", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  position: relative;
  top: 1px;
}
.header .navbar__inner .navbar__menu .current-user:hover span {
  color: #008cff;
  transition: all 0.2s ease-out;
}
.header .navbar__inner .navbar__menu .current-user:hover svg {
  fill: #008cff;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 720px) {
  .header .navbar__inner {
    position: relative;
  }
  .header .navbar__inner .navbar__hamburgers {
    display: block;
    position: relative;
    top: 8px;
  }
  .header .navbar__inner .navbar__menu {
    flex-direction: column;
    background-color: white;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 57px;
    right: -110%;
    transition: all 0.4s ease-out;
  }
  .header .navbar__inner .navbar__menu.active {
    right: 0%;
    z-index: 10;
    box-shadow: 1px 1px 8px #a7b6b9;
  }
  .header .navbar__inner .navbar__menu .menu__item {
    width: 100%;
    padding: 13px 30px;
  }
  .header .navbar__inner .navbar__menu .menu__item:last-child {
    padding-right: 30px;
  }
  .header .navbar__inner .navbar__menu .menu__item:first-child {
    padding-top: 15px;
  }
  .header .navbar__inner .navbar__menu .menu__item a {
    display: flex;
    justify-content: right;
  }
  .header .navbar__inner .navbar__menu .menu__item a .icon-angle-right {
    display: block;
    margin-left: 5px;
    position: relative;
    top: 0.5px;
  }
  .header .navbar__inner .navbar__menu .menu__item a .icon-angle-down {
    display: none;
  }
}
.dropdown__menu {
  background: white;
  width: 170px;
  position: absolute;
  top: 57px;
  text-align: start;
  border-top: 2px solid #008cff;
  list-style-type: none;
  overflow: hidden;
}
.dropdown__menu .mobile-close-dropdown {
  display: none;
}
.dropdown__menu li {
  background: white;
  cursor: pointer;
}
.dropdown__menu li:hover {
  background-color: aliceblue;
}
.dropdown__menu li .dropdown__link {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 12px 5px;
}
.dropdown__menu li .dropdown__link .flag-flag {
  width: 16px;
  position: relative;
  top: -1px;
  margin-right: 8px;
  margin-left: 8px;
}

@media screen and (max-width: 720px) {
  .dropdown__menu {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0%;
    border: none;
  }
  .dropdown__menu .dropdown__flag {
    position: relative;
    left: 100%;
    transition: all 0.5s ease;
  }
  .dropdown__menu .dropdown__flag.active {
    left: 0%;
  }
  .dropdown__menu .dropdown__flag .mobile-close-dropdown {
    display: block;
    height: 40px;
    background-color: #008cff;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }
  .dropdown__menu .dropdown__flag .mobile-close-dropdown .icon-angle-right {
    color: white;
    position: relative;
    top: 0px;
    margin-right: 13px;
    width: 9px;
  }
  .dropdown__menu .dropdown__flag .dropdown__link {
    flex-direction: row-reverse;
  }
}
.footer {
  background-color: #464b4c;
}
.footer .footer-body {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.footer .footer-body .footer-address {
  display: flex;
  align-items: center;
}
.footer .footer-body .footer-address .address-logo {
  margin-right: 20px;
  height: 80px;
}
.footer .footer-body .footer-address .address-logo .logo {
  height: 100%;
  position: relative;
  top: -5px;
}
.footer .footer-body .footer-address .address-address {
  text-align: left;
}
.footer .footer-body .footer-address .address-address h4 {
  color: #a7b6b9 !important;
  font-size: calc(21px + 3 * (100vw - 320px) / 1080);
}
.footer .footer-body .footer-address .address-address p {
  color: white;
  margin-bottom: 10px;
}
.footer .footer-body .footer-contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #a7b6b9;
  position: relative;
  top: -10px;
}
.footer .footer-body .footer-contact .contact-membership,
.footer .footer-body .footer-contact .donation-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footer-body .footer-contact a {
  text-decoration: none;
  color: #a7b6b9;
  font-family: "Muli", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px;
  margin: 5px 30px;
}
.footer .footer-body .footer-contact a:hover {
  color: #008cff;
}
.footer .footer-body .footer-contact a:hover svg {
  color: #008cff;
}
.footer .footer-body .footer-contact a svg {
  width: 12px;
  position: relative;
  top: -2px;
  margin-right: 2px;
  color: #a7b6b9;
}
.footer .footer-footer {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .footer-footer .footer-copyright {
  font-size: 16px;
}
.footer .footer-footer .footer-copyright .copyright-entity {
  font-size: 18px;
}
.footer .footer-footer .footer-designer svg {
  position: relative;
  top: -2px;
}
.footer .footer-footer .footer-designer span {
  margin-left: -6px;
  margin-right: 15px;
}

@media screen and (max-width: 1000px) {
  .footer .footer-body {
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-body .footer-address {
    align-items: center;
    border-bottom: 0.5px solid #969696;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  .footer .footer-body .footer-address .address-logo {
    margin-right: 20px;
    height: 80px;
  }
  .footer .footer-body .footer-contact {
    flex-direction: row;
    top: 0;
  }
}
@media screen and (max-width: 620px) {
  .footer .footer-body {
    padding-top: 2.5rem;
  }
  .footer .footer-body .footer-address {
    flex-direction: column;
  }
  .footer .footer-body .footer-address .address-logo {
    margin-bottom: 14px;
  }
  .footer .footer-body .footer-address .address-address {
    text-align: center;
  }
  .footer .footer-body .footer-contact {
    flex-direction: column;
    text-align: center;
  }
  .footer .footer-body .footer-contact a {
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 900;
  }
  .footer .footer-body .footer-contact a svg {
    width: 9px;
  }
}
@media screen and (max-width: 350px) {
  .footer .footer-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5rem;
  }
}
.form-input {
  position: relative;
  margin-bottom: 25px;
}
.form-input .input-input {
  background: none;
  background-color: white;
  color: #798284;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #a7b6b9;
  margin: 10px 0;
}
.form-input .input-input:focus {
  outline: none;
}
.form-input .input-input:focus ~ .input-label {
  top: -7px;
  font-size: 12px;
  color: #116fa6;
}
.form-input input[type=password] {
  letter-spacing: 0.3em;
}
.form-input .input-label {
  color: #a7b6b9;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 300ms ease;
}
.form-input .input-label.shrink {
  top: -7px;
  font-size: 12px;
  color: #116fa6;
}

.form-select {
  position: relative;
  margin-bottom: 25px;
}
.form-select .select-input {
  background: none;
  background-color: white;
  color: #798284;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #a7b6b9;
  margin: 10px 0;
}
.form-select .select-input:focus {
  outline: none;
}
.form-select .select-input:focus ~ .input-label {
  top: -7px;
  font-size: 12px;
  color: #116fa6;
}
.form-select .input-label {
  color: #a7b6b9;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 300ms ease;
}
.form-select .input-label.shrink {
  top: -7px;
  font-size: 12px;
  color: #116fa6;
}

.form-textarea {
  position: relative;
  margin-bottom: 25px;
}
.form-textarea .textarea-textarea {
  background: none;
  background-color: white;
  color: #798284;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #a7b6b9;
  margin: 10px 0;
  white-space: pre-line;
}
.form-textarea .textarea-textarea:focus {
  outline: none;
}
.form-textarea .textarea-textarea:focus ~ .textarea-label {
  top: -7px;
  font-size: 12px;
  color: #116fa6;
}
.form-textarea .textarea-label {
  color: #a7b6b9;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 300ms ease;
}
.form-textarea .textarea-label.shrink {
  top: -7px;
  font-size: 12px;
  color: #116fa6;
}

.form-error-message {
  color: #cc1417;
  opacity: 0.25;
  position: relative;
  top: -15px;
  max-width: fit-content;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1000;
}

.modal--container {
  background-color: #fdfefe;
  width: calc(100% - 30px);
  max-width: 500px;
  border: solid 1px #798284;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.modal--container .modal--header {
  background-color: #464b4c;
  color: white;
  padding: 0 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  /* Optional header type */
}
.modal--container .modal--header p {
  margin: 0;
  font-size: 1.1rem;
}
.modal--container .modal--header span {
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
  top: -4px;
}
.modal--container .modal--header.error {
  background-color: #cc1417;
}
.modal--container .modal--header.warning {
  background-color: #ff9808;
}
.modal--container .modal--header.valid {
  background-color: #008cff;
}
.modal--container .modal--body {
  padding: 0 20px;
  border-bottom: solid 1px #a7b6b9;
}
.modal--container .modal--footer {
  padding: 10px 20px;
  display: flex;
  justify-content: right;
}
.modal--container .modal--footer .button--close {
  display: inline-block;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.375rem 1.25rem;
  border: 0;
  color: white;
  background-color: #464b4c;
}
.modal--container .modal--footer .footer--validate {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.modal--container .modal--footer .footer--validate .button--validate {
  display: inline-block;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.375rem 1.25rem;
  border: 0;
  color: white;
  background-color: #008cff;
}

.modal-enter {
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.modal-enter-active {
  top: 15%;
  opacity: 1;
  transition: all 500ms ease;
}

.modal-exit {
  top: 15%;
  opacity: 1;
}

.modal-exit-active {
  top: -15%;
  opacity: 0;
  transition: all 500ms ease;
}

.backdrop-enter {
  opacity: 0;
}

.backdrop-enter-active {
  opacity: 1;
  transition: all 500ms ease;
}

.backdrop-exit {
  opacity: 1;
}

.backdrop-exit-active {
  opacity: 0;
  transition: all 500ms ease;
}

.homepage {
  margin-bottom: 2rem;
}
.homepage .welcome {
  margin-bottom: 2rem;
}
.homepage .welcome .welcome__title {
  font-size: calc(26px + 7 * (100vw - 320px) / 1080);
  color: #255a79;
}
.homepage .donate__title {
  font-size: calc(26px + 7 * (100vw - 320px) / 1080);
  color: #255a79;
}
.homepage .donate {
  margin-bottom: 2rem;
}

.home-carousel {
  margin-bottom: 2rem;
  width: 100vw;
  max-height: 60vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.home-carousel .carousel.slide {
  left: -7px;
}
.home-carousel .slogan-carousel {
  font-size: calc(20px + 30 * (100vw - 320px) / 1080);
  font-family: "Fahkwang", sans-serif;
  font-weight: 500;
  text-shadow: black 3px 3px 8px;
}
.home-carousel .slogan-carousel.last-text {
  line-height: calc(25px + 40 * (100vw - 320px) / 1080);
  font-size: calc(20px + 18 * (100vw - 320px) / 1080);
}
.home-carousel .carousel-indicators {
  margin-bottom: calc(5px + 21 * (100vw - 320px) / 1080);
}
.home-carousel .carousel-caption {
  right: 5%;
  left: 5%;
  bottom: calc(-5px + 175 * (100vw - 320px) / 1080);
  letter-spacing: 10px;
  z-index: 1;
}
.home-carousel .carousel-control-prev,
.home-carousel .carousel-control-next {
  width: calc(35px + 45 * (100vw - 320px) / 1080);
}

.WpPosts {
  background-color: #a7b6b9;
  margin-bottom: 2.5rem;
}
.WpPosts .WpPosts__posts {
  width: 100vw;
}
.WpPosts .WpPosts__intro {
  color: white;
}
.WpPosts .WpPosts__intro h1 {
  font-size: calc(26px + 7 * (100vw - 320px) / 1080);
  padding-top: 2rem;
}
.WpPosts .WpPosts__intro p {
  margin-bottom: 2rem;
}

.contact-form .form-title {
  font-size: calc(24px + 6 * (100vw - 320px) / 1080);
  color: #255a79;
}

.contactpage {
  margin-top: calc(20px + 15 * (100vw - 320px) / 1080);
}
.contactpage .contact-titlebar {
  background-color: #255a79;
  box-shadow: 1px 1px 8px #a7b6b9;
}
.contactpage .contact-titlebar .titlebar-title {
  color: white;
  font-size: calc(30px + 10 * (100vw - 320px) / 1080);
  padding-top: calc(20px + 10 * (100vw - 320px) / 1080);
  padding-bottom: calc(20px + 10 * (100vw - 320px) / 1080);
  margin-bottom: calc(20px + 15 * (100vw - 320px) / 1080);
}
.contactpage .contact-section {
  display: flex;
}
.contactpage .contact-section .contact-row {
  width: 100vw;
}
.contactpage .contact-section .contact-details .details-title {
  font-size: calc(24px + 6 * (100vw - 320px) / 1080);
  color: #255a79;
}
.contactpage .contact-section .contact-details .details-location,
.contactpage .contact-section .contact-details .details-telephone,
.contactpage .contact-section .contact-details .details-email,
.contactpage .contact-section .contact-details .details-blog {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.contactpage .contact-section .contact-details .details-location svg,
.contactpage .contact-section .contact-details .details-telephone svg,
.contactpage .contact-section .contact-details .details-email svg,
.contactpage .contact-section .contact-details .details-blog svg {
  width: 23px;
  height: 23px;
  margin-right: 10px;
  color: #255a79;
}
.contactpage .contact-section .contact-details .details-location svg.location-icon,
.contactpage .contact-section .contact-details .details-telephone svg.location-icon,
.contactpage .contact-section .contact-details .details-email svg.location-icon,
.contactpage .contact-section .contact-details .details-blog svg.location-icon {
  width: 45px;
  height: 45px;
}
.contactpage .contact-section .contact-details .details-location a,
.contactpage .contact-section .contact-details .details-telephone a,
.contactpage .contact-section .contact-details .details-email a,
.contactpage .contact-section .contact-details .details-blog a {
  text-decoration: none;
  color: #464b4c;
}
.contactpage .contact-section .contact-details .details-location a:hover,
.contactpage .contact-section .contact-details .details-telephone a:hover,
.contactpage .contact-section .contact-details .details-email a:hover,
.contactpage .contact-section .contact-details .details-blog a:hover {
  color: #008cff;
}
.contactpage .contact-section .contact-details .details-location .location-address,
.contactpage .contact-section .contact-details .details-telephone .location-address,
.contactpage .contact-section .contact-details .details-email .location-address,
.contactpage .contact-section .contact-details .details-blog .location-address {
  display: flex;
  flex-direction: column;
}
.contactpage .contact-section .contact-details .details-location .location-address .association-title,
.contactpage .contact-section .contact-details .details-telephone .location-address .association-title,
.contactpage .contact-section .contact-details .details-email .location-address .association-title,
.contactpage .contact-section .contact-details .details-blog .location-address .association-title {
  font-size: calc(17px + 2 * (100vw - 320px) / 1080);
  color: #464b4c;
}

/*-------------------------------------
Bootstrap
-------------------------------------*/
.container-fluid {
  padding: 0;
}

/*-------------------------------------
General
-------------------------------------*/
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.header-sticky {
  height: 70px;
}

.container {
  max-width: 1400px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rokkitt", serif;
}

p,
pre,
span,
label,
input {
  font-family: "Muli", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding-top: 70px;
}
.App .header-sticky {
  flex-shrink: 0;
}
.App .footer {
  margin-top: auto;
}
.App a {
  text-decoration: none;
  color: #008cff;
}
.App a:hover {
  color: #00b8d8;
}
