/* Spacing for the top title bars */
/* Header height */
/* Top hero images */
/* Fonts */
/* Box shadow */
/* Form input & texarea */
/* Links */
/* User dashboard */
.App {
  text-align: center;
  color: #cc1417;
  font-family: "Rokkitt", serif;
  font-weight: 500;
}
