@use "./../abstracts" as *;

.header {
  height: $header-height;
  display: flex;
  justify-content: center;
  align-items: center;
  @include blue-shadow;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  padding: 0;

  .icon-angle-down {
    width: 10px;
    position: relative;
    top: -1px;
    margin-left: 1px;
  }

  .navbar__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar__logo {
      height: 100%;
      width: 120px;
    }

    .navbar__hamburgers,
    .ham_overlay {
      display: none;
    }

    .navbar__menu {
      height: 100%;
      position: relative;
      top: 6px;
      display: flex;
      align-items: center;
      margin-bottom: 0;

      // .forum,
      // .flag {
      //   display: none;
      // }

      .menu__separator {
        height: 1px;
        box-shadow: 0 8px 6px -6px black;
      }

      .menu__item {
        padding: 17px 15px;
        list-style-type: none;

        a {
          color: $anthracite-dark;
          background-color: transparent;
          font-family: $font-highlight;
          font-weight: 600;
          font-size: 0.9rem;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            color: $blue;
            transition: all 0.2s ease-out;
          }

          & .icon-angle-right {
            display: none;
            width: 9px;
          }
        }

        &:last-child {
          padding-right: 0;
        }

        .dropdownFlag--enter {
          opacity: 0;
        }
        .dropdownFlag--enter-active {
          opacity: 1;
          transition: opacity 0.5s ease;
        }
        .dropdownFlag--exit {
          opacity: 1;
        }
        .dropdownFlag--exit-active {
          opacity: 0;
          transition: opacity 0.5s ease;
        }
      }

      .current-user {
        display: flex;
        align-items: center;

        .default-user {
          width: 32px;
          height: 32px;
          margin-right: 6px;
          fill: $anthracite;
        }

        .user-name {
          color: $anthracite;
          background-color: transparent;
          font-family: $font-highlight;
          font-weight: 600;
          font-size: 0.9rem;
          text-transform: uppercase;
          position: relative;
          top: 1px;
        }

        &:hover {
          span {
            color: $blue;
            transition: all 0.2s ease-out;
          }

          svg {
            fill: $blue;
            transition: all 0.2s ease-out;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .header {
    .navbar__inner {
      position: relative;

      .navbar__hamburgers {
        display: block;
        position: relative;
        top: 8px;
      }

      .navbar__menu {
        flex-direction: column;
        background-color: white;
        width: 100vw;
        min-height: 100vh;
        position: absolute;
        top: 57px;
        right: -110%;
        transition: all 0.4s ease-out;

        &.active {
          right: 0%;
          z-index: 10;
          @include anthracite-shadow;
        }

        .menu__item {
          width: 100%;
          padding: 13px 30px;

          &:last-child {
            padding-right: 30px;
          }

          &:first-child {
            padding-top: 15px;
          }

          a {
            display: flex;
            justify-content: right;

            .icon-angle-right {
              display: block;
              margin-left: 5px;
              position: relative;
              top: 0.5px;
            }

            .icon-angle-down {
              display: none;
            }
          }
        }
      }
    }
  }
}
